let mapleader = "\<space>"

set clipboard+=unnamed
set incsearch
set ignorecase
set smartcase
set scrolloff=10

nnoremap <C-l> gt
nnoremap <C-h> gT

nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fe <Action>(SearchEverywhere)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)
nmap <leader>ca <Action>(CloseAllEditors)
nmap K <Action>(ShowHoverInfo)
nmap <leader>r <Action>(RenameElement)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>b <Action>(ActivateBookmarksToolWindow)
nmap <leader>q <Action>(HideAllWindows)
nmap <Leader>wo <Action>(MoveEditorToOppositeTabGroup)
nmap <Leader>wl <Action>(MoveTabRight)
